In [1]:
#task 01
var_1 = int(input('please enter the first number: '))
var_2 = int(input('Please enter the second number: '))
total = var_1 + var_2
prodact = var_1*var_2
difference = var_1 - var_2
print('Sum=', total)
print('prodact=', prodact)
print('differnce=', difference)

ValueError: invalid literal for int() with base 10: 'd'

In [ ]:
#task_02
import math 
var_1 = float(input('Please enter radius values: '))
circumference = 2*math.pi*var_1
area = math.pi*var_1**2 
print("Circumference is", circumference)
print("Aera is", area)

Please enter radius values: 4
Circumference is 25.132741228718345
Aera is 50.26548245743669

In [ ]:
#task_03
var_1 = int(input("Please enter your first number: "))
var_2 = int(input("Please enter your first number: "))

if(var_1>var_2):
    print("First is greater")
elif(var_1<var_2):
    print("Second is greater")
else:
    print("The number is equal")

Please enter your first number: 11
Please enter your first number: 11
The number is equal

In [ ]:
#task_04
var_1 = int(input("please enter your first number: "))
var_2 = int(input("Please enter your second number: "))
if(var_1>var_2):
    sub_1 = var_1 - var_2
    print(sub_1)
elif(var_1<var_2):
    sub_2 = var_2- var_1
    print(sub_2)
else:
    print("0")

please enter your first number: -40
Please enter your second number: -4
36

In [ ]:
#task_05
var = int(input('pleae enter your number: '))
if(var%2==0):
    print("The number is even ")
else:
    print("The number is odd")

pleae enter your number: 3
The number is odd

In [ ]:
#task_06
var = int(input('Please enter your number: '))
if(var%2==0 or var%5==0):
    print(var)
else:
    print("Not a multiple of 2 OR 5")

Please enter your number: 10
10

In [ ]:
#task_7
var = int(input("Please enter your number: "))
if(var%2==0 and var%5==0):
    print("Multiple of 2 and 5 both")
elif(var%2==0 or var%5==0):
    print(var)

else:
    print("Not a multiple we want")

Please enter your number: 17
Not a multiple we want

In [ ]:
#task_08
var = int(input("Please enter your number: "))
if(var%2==0 and var%5==0):
    print(var)
else:
    print("Not multiple of 2 and 5 both")

Please enter your number: 15
Not multiple of 2 nad 5 both

In [ ]:
#task_09
var = int(input('Please enter your seconds: '))
print("Hours:", var//3600 , end=" ")
var = var%3600
print("minutes:", var//60, end=" ")
var = var%60
print("Seconds:",var)

Please enter your seconds: 10000
Hours: 2 minutes: 46 Seconds: 40

In [ ]:
#task_10
var = int(input("Please enter workinh hours: "))
salary = 8000
if(0<var<=40 ):
   salary = var*200 
   print("Salary:", salary)

elif(40<var<=168):
   salary = (var-40)*300+salary
   print("salary:", salary)
elif(0>var):
    print("Hour cannot be negative")
else:
    print("Impossible to work more than 168 hours weekly")

Please enter workinh hours: 190
Impossible to work more than 168 hours weekly

In [ ]:
#task_11
s = int(input("Please enter your number: "))
if (s<100):
    L = 3000-(125*(s**2))
    print(L)
elif(s>=100):
    L = 12000/(4+(s**2)/14900)
    print(L)

Please enter your number: 3
1875

In [ ]:
#task_12
var = int(input("please enter your hours: "))
if ( 4<=var<=6):
    print("Breakfast")
elif(12<=var<=13):
    print("Lunch")
elif(16<=var<=17):
    print("Snacks")
elif(19<=var<=20):
    print("Dinner")
elif(0>var or var>=24):
    print("Wrong number")
else:
    print("Patience is a virtue")

please enter your hours: -1
Wrong number

In [ ]:
#task_13
num = int(input("Please enter your marks: "))
if(90<=num<=100):
    print("A")
elif(80<=num<=89):
    print("B")
elif(70<=num<=79):
    print("C")
elif(60<=num<=69):
    print("D")
elif(50<=num<=59):
    print("E")
elif(0<=num<50):
    print("F")
else:
    print("This is not a valid marks")

Please enter your marks: 100
A

In [ ]:
#task_14
var_1 = int(input("please enter distance values: "))
var_2 = int(input("Please enter times: "))
velocity = (var_1/1000)/(var_2/3600)
                           
print(velocity)
if(velocity<60):
    print("Too slow. Need more changes")
elif(60<=velocity<=90):
    print("Velocity is okay. The car is ready")
elif(90<velocity):
    print("Too fast. Only a few changes should suffice")

please enter distance values: 25400
Please enter times: 3600
25.4
Too slow. Need more changes

In [ ]:
#task_15
num = float(input("Please enter your marks: "))
credits = int(input("please enter your credit: "))

if(3.80<=num<=3.89 and 30<=credits):
    print("The student is eligible for a waiver of 25 percent.")
elif(3.90<=num<=3.94 and 30<=credits):
    print("The student is eligible for a waiver of 50 percent.")
elif(3.95<=num<=3.99 and 30<=credits):
    print("The student is eligible for a waiver of 75 percent.")
elif(num==4.00 and 30<=credits):
    print("The student is eligible for a waiver of 100 percent.")
else:
    print("The student is not eligible for a waiver")

Please enter your marks: 3.90
please enter your credit: 67
The student is eligible for a waiver of 50 percent.

In [ ]:
#task_16
p=5
q=6
r=9 
sum=0 
if(p<12):
    print(r + 2)
else:
    print(r + p) 
if(q>20):
    print(r + 19)
elif (q <= 6):
    print(q + 3)
else:
    print(p + q + r)
if (r > 15):
    print(r)
elif (r == 0):
    print(p + q)
else:
    print(p)
if (sum != 0):
    print(3)
else:
    print(sum + 32)
if (p>0 and r<10):
    print(p+r)
else:
    print(p-r)

11
9
5
32
14

In [ ]:
#task_17
var1=var2=var3=var4=var5=var6=False
result1 = False
result2 = False
result3 = False
result4 = False 
result5 = False 
result6 = False 
result7 = False 
result8 = False
result9 = False
result10 = False
var1=4>3-1
var2 = var1 and False 
var3 = True
var4 = False
var5 = True
var6 = var3 and False
result1 = (var1 or var2) and (8 * 10 > 45)
result2 = (var1 or var2) and (result1 and False)
result3 = (var1 and result1) or result2
result4 = (var1 or var2) or ((var3 and var1) and False)
result5 = (var1 and var2) and (result3 or var1)
result6 = ((var3 or var2) and not(result5)) or True
result7 = (var4 and result1) and ((result1 and False) or True) 
result8 = ((var1 and result3) and (var5 or var6)) and True
result9 = ((result2 and var2) or (result7 and var1)) and False
result10 = not(var1 and True)
print(result1)
print(result2)
print(result3)
print(result4)
print(result5)
print(result6)
print(result7)
print(result8)
print(result9)
print(result10)

True
False
True
True
False
True
False
True
False
False

In [ ]:
#task_18
var1 = False
var2 = False
var3 = False
var4 = False
var5 = False
var6 = False
result1 = False 
result2 = False 
result3 = False
result4 = False
result5 = False
result6 = False
result7 = False
result8 = False
result9 = False
result10 = False
var1 = ((not True) or True) and False 
var2 = var1 and False
var3 = True and not False 
var4 = False
var5 = True
var6 = var3 and False
result1 = (var1 and var2) and (40 % 3) > 45 or (var5 and var6) 
result2 = (var1 or var2) or (result1 and False)
result3 = (var1 and result1) or result2 or var5
result4 = (var1 or var2) or ((var3 and var1) and False)
result5 = (var1 and var2) and (result3 or var1)
result6 = ((var3 or (not var2)) and (result5)) or True
result7 = (var4 and result1) and ((result1 and False) or True)
result8 = ((var1 and result3) and ((not var5) or var6)) and True
result9 = ((result2 and var2) or ((not result7) and var1)) and not False 
result10 = not(var1 and True)
print(result1)
print(result2)
print(result3)
print(result4)
print(result5)
print(result6)
print(result7)
print(result8)
print(result9)
print(result10)

False
False
True
False
False
True
False
False
False
True

In [ ]:
#task_19
var1=var2=var3=var4=var5=var6=False
result1 = result2 = result3 = result4 = result5 = result6 = False 
result7 = result8 = result9 = result10 = False
var1 = (not False or False) and True
var2 = var1 and True
var3 = False and not True
var4 = True
var5 = False
var6 = var3 and True
result1 = (var1 and var2) and ( 40 % 3 > 45) or (var5 and var6) 
result2 = (var1 or var2) or (result1 and False)
result3 = (var1 and result1) or result2 or var5
result4 = (var1 or var2) or ((var3 and var1) and False)
result5 = (var1 and var2) and (result3 or var1)
result6 = ((var3 or not var2) and (result5)) or True
result7 = (var4 and result1) and ((result1 and False) or True)
result8 = ((var1 and result3) and (not var5 or var6)) and True
result9 = ((result2 and var2) or (not result7 and var1)) and not False 
result10 = not (var1 and True)
print(result1)
print(result2)
print(result3)
print(result4)
print(result5)
print(result6)
print(result7)
print(result8)
print(result9)
print(result10)

False
True
True
True
True
True
False
True
True
False